{{ partial "default_head.html" . }}
<div class="demo-layout-transparent mdl-layout mdl-js-layout">
    <header class="mdl-layout__header mdl-layout__header--transparent color wet-asphalt">
        <div class="mdl-layout__header-row">
            <div class="mdl-layout-spacer"></div>
        </div>
    </header>
    {{ partial "default_left_menu.html" . }}
    <div class="title-header color wet-asphalt">
        <h1 class="handwriting">Est-ce que c'est bientôt...</h1> 
    </div>
    <main class="mdl-layout__content">
        <div class="page-content mdl-grid list-cards"> 
            {{ range where .Data.Pages "Section" "site" }}
            <div class="soon-card mdl-card mdl-shadow--2dp color {{ .Params.color }}">
                <a href="{{ .Params.url }}">
                    <h2 class="handwriting">{{ .Params.short_title }}</h2>
                </a>
                <div class="bar color {{ .Params.color2 }}">
                    <div class="wrapper">
                        <button id="card-menu-top-right-{{ .Params.url }}" class="mdl-button mdl-js-button mdl-button--icon"> 
                            <i class="material-icons">share</i> 
                        </button>
                        <ul class="mdl-menu mdl-menu--top-right mdl-js-menu mdl-js-ripple-effect" data-mdl-for="card-menu-top-right-{{ .Params.url }}">
                            <li class="mdl-menu__item">
                                <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}?utm_source=website-share" target="_blank">
                                    <i class="icon-facebook icon2x" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li class="mdl-menu__item">
                                <a href="https://twitter.com/share?url={{ .Permalink }}?utm_source=website-share" target="_blank">
                                    <i class="icon-twitter icon2x" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li class="mdl-menu__item">
                                <a href="https://plus.google.com/share?url={{ .Permalink }}?utm_source=website-share" target="_blank">
                                    <i class="icon-google_plus icon2x" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div> 
            {{ end }}
        </div>
        <div class="page-content-homepage">
        {{ .Content }}
        </div>
    </main>
</div> {{ partial "default_foot.html" . }}