    <div class="mdl-layout__drawer"> 
        <span class="mdl-layout-title">Menu</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="{{ .Site.BaseURL }}">Accueil</a> 
            <a class="mdl-navigation__link" href="{{ .Site.BaseURL }}a-propos">A Propos</a> 
            <a class="mdl-navigation__link" href="{{ .Site.BaseURL }}mentions-legales">Mentions Légales</a> 
            <a class="mdl-navigation__link" href="{{ .Site.BaseURL }}politique-de-confidentialite">Politique de confidentialité</a>
        </nav>
    </div>