{{ partial "default_head.html" . }}

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header color {{ .Params.color }}">
        <div class="mdl-layout__header-row">
            <h1>
                <span class="mdl-layout-title">{{ .Params.title }}</span>
            </h1>
            <div class="mdl-layout-spacer"></div>
        </div>
    </header>
    {{ partial "default_left_menu.html" . }}
    
    <main class="mdl-layout__content">
        <div class="page-content">


        {{ if isset .Params "site_url" }}
        <iframe src="{{ .Params.site_url }}" frameborder="0">
        </iframe>
        {{ end }}
            
            <div class="static-content">
                {{ .Content }}
            </div>
        </div>
    </main>
    <footer class="mdl-mini-footer">
        <section class="share-section">
            <h3>Partage cette information importante!</h3>
        
            <a class="share-button" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}?utm_source=facebook&utm_medium=website-share" target="_blank" onclick="dataLayer.push({ 'event': 'trackEvent', 'eventCategory': 'share', 'eventAction': 'share-on-facebook', 'eventLabel': '{{ .Params.url }}' });">
                <button class="mdl-button mdl-button--fab facebook">
                    <i class="icon-facebook" aria-hidden="true"></i>
                </button>
            </a>

        </section>
    </footer>

</div>


{{ partial "default_foot.html" . }}