{{ partial "default_head.html" . }}

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header color {{ .Params.color }}">
        <div class="mdl-layout__header-row">
            <h1>
                <span class="mdl-layout-title">{{ .Params.title }}</span>
            </h1>
            <div class="mdl-layout-spacer"></div>
        </div>
    </header>
    {{ partial "default_left_menu.html" . }}
    
    <main class="mdl-layout__content">
        <div class="page-content static-content">            
            {{ .Content }}
        </div>
    </main>

</div>


{{ partial "default_foot.html" . }}