{{ partial "default_head.html" . }}

        <header class="color {{ .Params.color }} ?>">
            <a href="{{ .Site.BaseURL }}" class="back">
                <i class="icon-list" aria-hidden="true"></i>
            </a>
            <h1><span>Est-ce que c'est bientot </span>{{ .Params.short_title }} ?</h1>
        </header>

        {{ if isset .Params "site_url" }}
        <iframe src="{{ .Params.site_url }}" frameborder="0">
        </iframe>
        {{ else }}

        no iframe

        {{ .IsPage }}

        {{ end }}


        <footer class="color {{ .Params.color }}">
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}?utm_source=facebook&utm_medium=website-share" target="_blank">
                <i class="icon-facebook_circle"></i>
            </a>
            <a href="https://twitter.com/share?text={{ .Title }}&url={{ .Permalink }}?utm_source=twitter&utm_medium=website-share" target="_blank">
                <i class="icon-twitter_circle"></i>
            </a>
            <a href="https://plus.google.com/share?url={{ .Permalink }}?utm_source=googleplus&utm_medium=website-share" target="_blank">
                <i class="icon-google_plus_circle"></i>
            </a>
        </footer>

<div class="description">
{{ .Content }}
</div>



{{ partial "default_foot.html" . }}