<!DOCTYPE html>
<html class="no-js" lang="fr">
    <head>
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-NB52Z62');</script>
        <!-- End Google Tag Manager -->
    
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ .Title }}</title>
        <meta name="description" content="{{ .Description }}">
        <meta name="keywords" content="{{ .Keywords }}">
        <meta name="viewport" content="initial-scale=1.0">

        <link type="image/png" href="favicon.ico" rel="icon"  />
        <link type="image/x-icon" href="favicon.ico" rel="icon"/>
        <link type="image/x-icon" href="favicon.ico" rel="shortcut icon"/>

        <link rel="stylesheet" href="{{ .Site.BaseURL }}css/normalize.min.css">
        <link rel="stylesheet" href="{{ .Site.BaseURL }}css/mfglabs_iconset.css">
        <link rel="stylesheet" href="{{ .Site.BaseURL }}css/main.css">
        
        <meta name='B-verify' content='751e368f10fc0e51be845e74d45668305885fa8a' />

        <!-- Open Graph meta -->
        <meta property="og:title" content="Est-ce que c'est bientôt ..."/>
        <meta property="og:url" content="http://estcequecestbientot.fr/"/>
        <meta property="og:site_name" content="Est-ce que c'est bientôt - Le portail"/>
        <meta property="og:type" content="website"/>
        <meta property="og:description" content="Retrouvez tous les est-ce que c'est bientôt sur une unique et même page"/>
        <meta property="og:image" content="http://estcequecestbientot.fr/default_og_image.png" />
        <meta property="fb:app_id" content="649293305082680" />

        <script src="{{ .Site.BaseURL }}js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body class="color clouds {{ if  .IsPage }}iframe{{ end }}">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NB52Z62" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->