/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html,
body {
    height: 100%;
}

body {
    font-size: 1em;
    line-height: 1.4;
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.title {
    color: white;
}


/* ==========================================================================
   color custom styles
   ========================================================================== */

.color.turquoise {
    background: none repeat scroll 0 0 #1ABC9C;
}

.color.green-sea {
    background: none repeat scroll 0 0 #16A085;
}

.color.emerald {
    background: none repeat scroll 0 0 #2ECC71;
}

.color.nephritis {
    background: none repeat scroll 0 0 #27AE60;
}

.color.peter-river {
    background: none repeat scroll 0 0 #3498DB;
}

.color.belize-hole {
    background: none repeat scroll 0 0 #2980B9;
}

.color.amethyst {
    background: none repeat scroll 0 0 #9B59B6;
}

.color.wisteria {
    background: none repeat scroll 0 0 #8E44AD;
}

.color.wet-asphalt {
    background: none repeat scroll 0 0 #34495E;
}

.color.midnight-blue {
    background: none repeat scroll 0 0 #2C3E50;
}

.color.sun-flower {
    background: none repeat scroll 0 0 #F1C40F;
}

.color.orange {
    background: none repeat scroll 0 0 #F39C12;
}

.color.carrot {
    background: none repeat scroll 0 0 #E67E22;
}

.color.pumpkin {
    background: none repeat scroll 0 0 #D35400;
}

.color.alizarin {
    background: none repeat scroll 0 0 #E74C3C;
}

.color.pomegranate {
    background: none repeat scroll 0 0 #C0392B;
}

.color.clouds {
    background: none repeat scroll 0 0 #ECF0F1;
    color: #BDC3C7;
}

.color.silver {
    background: none repeat scroll 0 0 #BDC3C7;
}

.color.concrete {
    background: none repeat scroll 0 0 #95A5A6;
}

.color.asbestos {
    background: none repeat scroll 0 0 #7F8C8D;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
    font-family: 'ArsenaleWhiteRegular';
    src: url('../font/arsenale_white-webfont.eot');
    src: url('../font/arsenale_white-webfont.eot?#iefix') format('embedded-opentype'), url('../font/arsenale_white-webfont.woff') format('woff'), url('../font/arsenale_white-webfont.ttf') format('truetype'), url('../font/arsenale_white-webfont.svg#ArsenaleWhiteRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.handwriting {
    font-family: 'ArsenaleWhiteRegular';
}

.mdl-layout__header {
    background-color: transparent;
}

.mdl-layout__drawer-button {
    color: #fff;
}

@media (min-width:840px) {
    .list-cards {
        width: 840px
    }
}

.mdl-menu__item {
    text-align: center;
}

.mdl-menu__item a {
    color: gray;
}

.title-header h1 {
    text-align: center;
    color: #fff;
    font-size: 5em;
    line-height: 1em;
    margin: 75px 0;
}

.soon-card.mdl-card {
    width: 400px;
    margin: 10px;
    overflow: visible;
}

@media (max-width: 840px){
    .soon-card.mdl-card {
        width: 100%;
    }
}

.soon-card h2.handwriting {
    color: #fff;
    text-align: center;
    font-size: 50px;
    line-height: 50px;
    margin: 51px 0 0;
}

.soon-card a {
    text-decoration: none;
}

.bar {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    background: #3F51B5;
    color: white;
    height: 64px;
    width: 100%;
    padding: 16px;
}

.bar .wrapper {
    box-sizing: border-box;
    position: absolute;
    right: 16px;
}

.page-content-homepage {
    max-width: 840px;
    margin: 100px auto;
    padding: 0 10px;
}

.page-content-homepage h2 {
    text-align: center;
    font-size: 24px;
}

@media (max-width: 480px) {
    .mdl-layout-title {
        display: none;
    }
}

iframe {
    height: calc(100vh - 60px);
    width: 100%;
}

.share-section {
    width: 100%;
    text-align: center;
}

.share-section h3 {
    font-size: 20px;
    margin: 10px 0;
}

.mdl-mini-footer {
    padding-top: 0px;
    min-height: 120px;
}

.static-content {
    padding: 30px;
}