/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html,body {
    height: 100%;
}

body {
    font-size: 1em;
    line-height: 1.4;
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

.title {
    color: white;
}

/* ==========================================================================
   color custom styles
   ========================================================================== */

.color.turquoise {
    background: none repeat scroll 0 0 #1ABC9C;
}
.color.green-sea {
    background: none repeat scroll 0 0 #16A085;
}
.color.emerald {
    background: none repeat scroll 0 0 #2ECC71;
}
.color.nephritis {
    background: none repeat scroll 0 0 #27AE60;
}
.color.peter-river {
    background: none repeat scroll 0 0 #3498DB;
}
.color.belize-hole {
    background: none repeat scroll 0 0 #2980B9;
}
.color.amethyst {
    background: none repeat scroll 0 0 #9B59B6;
}
.color.wisteria {
    background: none repeat scroll 0 0 #8E44AD;
}
.color.wet-asphalt {
    background: none repeat scroll 0 0 #34495E;
}
.color.midnight-blue {
    background: none repeat scroll 0 0 #2C3E50;
}
.color.sun-flower {
    background: none repeat scroll 0 0 #F1C40F;
}
.color.orange {
    background: none repeat scroll 0 0 #F39C12;
}
.color.carrot {
    background: none repeat scroll 0 0 #E67E22;
}
.color.pumpkin {
    background: none repeat scroll 0 0 #D35400;
}
.color.alizarin {
    background: none repeat scroll 0 0 #E74C3C;
}
.color.pomegranate {
    background: none repeat scroll 0 0 #C0392B;
}
.color.clouds {
    background: none repeat scroll 0 0 #ECF0F1;
    color: #BDC3C7;
}
.color.silver {
    background: none repeat scroll 0 0 #BDC3C7;
}
.color.concrete {
    background: none repeat scroll 0 0 #95A5A6;
}
.color.asbestos {
    background: none repeat scroll 0 0 #7F8C8D;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
    font-family: 'ArsenaleWhiteRegular';
    src: url('../font/arsenale_white-webfont.eot');
    src: url('../font/arsenale_white-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/arsenale_white-webfont.woff') format('woff'),
         url('../font/arsenale_white-webfont.ttf') format('truetype'),
         url('../font/arsenale_white-webfont.svg#ArsenaleWhiteRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.header-container h1 {
    text-align: center;
    margin: 0;
    padding: 1.1em 0 25px;
    font-family: 'ArsenaleWhiteRegular';
    font-weight: normal;
    font-size: 5em;
    line-height: 1em;
}

.header-container p {
    font-size: 12px;
    font-style: italic;
    margin: 10px auto;
    width: 450px;
}

.header-container .social-plugins {
    text-align: center;
    padding: 0 0 10px;

}

.header-container .social-plugins a {
    color: #fff;
    text-decoration: none;
    font-size: 2em;
}

.main-container {
    padding: 10px;
}

.nav-mobile {
    display: none;
}

.main-container {
    max-width: 1090px;
    margin: 0 auto;
}

.subcontainer {
    display: inline-block;
    color: #fff;
    position: relative;
    width: 350px;
    margin: 0 10px 14px 0;
}

.subcontainer h2 {
    font-family: 'ArsenaleWhiteRegular',Arial;
    font-weight: normal;
    font-size: 40px;
    vertical-align: middle;
    text-align: center;
    line-height: 80px;
    margin: 0;
    padding: 10px 0 0;
}

.subcontainer a {
    color: #fff;
    text-decoration: none;
}

.subcontainer .counter {
    text-align: right;
    vertical-align: middle;
    line-height: 30px;
    padding: 0 5px 0 0;
}

.subcontainer .counter span {
    margin: 0 0 0 5px;
    display: none;
}

.subcontainer .social-plugins {
    position: absolute;
    padding: 5px 0 0;
    bottom: 0;
    width: 100%;
    height: 25px;
    display: none;
    text-align: center;
}

.subcontainer .counter:hover .social-plugins {
    display: block;
}


.footer-container {
    position: fixed;
    bottom: 0;
    width: 100%;
}


body.iframe, body.iframe iframe {
    min-height: 100%;
    width: 100%;
    border: none;
}

body.iframe .header-container {
    position: fixed;
    top: 0;
}

.footer-container li {
    display: inline-block;
    float: right;
    padding: 0 10px;
    font-size: 12px;
    font-style: italic;
}

.footer-container a {
    color: #95A5A6;
    text-decoration: none;
}

hr {
    margin: 80px 0;
}

.description {
    font-size: 0.8em;
    font-style: italic;
    text-align: center;
}

.iframe .description {
    padding-bottom: 60px;
}

.description a {
    color: gray;
    text-decoration: underline;
}

@media only screen and (max-device-width:480px) {
    .header-container h1 {
        line-height: 1.1em;
        padding: 0.5em 0 0;
    }
    
    .header-container p {
        width: 300px;
        text-align: center;
        margin: 0 auto;
        padding: -20px 0 10px;
        display: block;
        line-height: 1em;
    }
    
    .footer-container {
        display: block;
        position: relative;
    }
    
    .subcontainer {
        width: 100%;
    }
    
    .header-container .social-plugins {
        display: none;
    }
}

/* ==========================================================================
   sub pages style
   ========================================================================== */

body.iframe {
    background: #fff !important;
}

body.iframe header, body.iframe footer {
    display: block;
    position: fixed;
    top: 0;
    height: 40px;
    width: 100%;
    color: #fff;
    vertical-align: middle;
    line-height: 1.7;
}

body.iframe footer {
    top: auto;
    bottom: O;
    height: 60px;
    margin: -60px 0 0 0;
    text-align: center;
    line-height: 1;
    padding: 10px 0;
}

body.iframe header h1 {
    font-family: 'ArsenaleWhiteRegular';
    float: right;
    display: block;
    margin: 0;
    font-size: 2em;
    font-weight: normal;
}

body.iframe header a, body.iframe footer a {
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    padding: 0 0 0 5px;
    -webkit-font-smoothing: antialiased;
}

body.iframe header a {
    font-size: 1.5em;
}

body.iframe header a.back {
    float: left;
}

@media only screen and (max-device-width:480px) {
    body.iframe header h1 span {
        display: none;
    }

    body.iframe header h1 {
        float: none;
        text-align: center;
    }
}

body.iframe iframe body {
    padding: 40px 0 0 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
