{{ partial "default_head.html" . }}

        <div class="header-container color wet-asphalt">
            <header>
                <h1 class="title">Est-ce que c'est bientôt...</h1>
                <p>Retrouvez tous les est-ce que c'est bientôt sur une unique et même page</p>
                <div class="social-plugins">
                    <a href="https://www.facebook.com/sharer/sharer.php?u=http://estcequecestbientot.fr/?utm_source=facebook&utm_medium=website-share" target="_blank">
                    <i class="icon-facebook_circle"></i>
                    </a>
                    <a href="https://twitter.com/share?url=http://estcequecestbientot.fr/?utm_source=twitter&utm_medium=website-share" target="_blank">
                        <i class="icon-twitter_circle"></i>
                    </a>
                    <a href="https://plus.google.com/share?url=http://estcequecestbientot.fr/?utm_source=googleplus&utm_medium=website-share" target="_blank">
                        <i class="icon-google_plus_circle"></i>
                    </a>
                </div>
            </header>
        </div>
        <div class="main-container">


            {{ range where .Data.Pages "Section" "site" }}
            <div class="subcontainer color {{ .Params.color }}">
                <a href="{{ .Permalink }}">
                    <h2>{{ .Params.short_title }}</h2> </a>
                <div class="counter color {{ .Params.color2 }}"> <i class="icon-heart"></i> </div>
            </div>
            {{ end }}
            
            <hr>
            
            <div class="description">
            <h2>Est ce que c'est bientôt</h2>  

            <p>L'idée originale et originelle revient à <a href="https://twitter.com/ternel">@ternel</a> qui a pour la première fois lancé la mécanique est ce que c'est bientôt.
            C'est donc d'abord par le week-end que tout a commencé. 
            Puis les déclinaisons sont apparues avec plus ou moins de succès, certaines n'étant qu'éphémères et ne souhaitaient que surfer sur la vague "est ce que c'est bientôt"</p>

            <p>À l'aube de l'été, avec mon collègue de l'époque, Tristan, nous décidions d'entamer un travail de listing de l'ensemble des est ce que c'est bientôt, et surtout de rendre ce travail accessible au plus grand nombre d'entre vous.</p>

            <p>Nous sommes toujours à la recherche de nouvelles variantes, existantes ou non.</p>

            <p>En vous remerciant pour votre contribution !</p>
            </div>
        </div>

        <div class="footer-container wet-asphalt color">
            <footer class="wrapper">
                <nav>
                    <ul>
                        <li>
                            <a href="mailto:contact@lcmh.fr">contact</a>
                        </li>
                        <li>
                            <a href="http://www.lcmh.fr/" class="link">made by LCMH</a>
                        </li>
                    </ul>
                </nav>
            </footer>
        </div>

{{ partial "default_foot.html" . }}